.icons{
    background: transparent;
    color: white;
    border: transparent;
    padding-right: 10px;
}

.icon:hover{
    color: rgb(241, 153, 241);
    transition: 1s;
  }

.add{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}